<div class="col-xs-offset-3 col-xs-6">


  <%= simple_form_for [@field, @booking] do |f| %>
    <%= time_zone_select(:person, :time_zone) %>
    <%= f.input :start_date, min: '2010-11-20' %>
    <input type='date' min='1899-01-01' max='2000-01-01'></input>
    <%= f.input :end_date, min: Date.today %>
    <%= f.button :submit, class:'btn-sportify-green' %>
  <% end %>

</div>
