<div class="container">
  <h1>Pending Bookings of my Fields</h1>

  <% @bookings.each do |booking| %>
  <div class="booking-container">
    <div class="row">
      <div class="col-sm-3">
  <!--       One of three columns -->
        <div class="card-booking" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= booking.field.picture %>');">
          <div class="card-category-booking">
            <p><%= booking.field.category %></p>
          </div>
          <div class="card-description-booking">
            <h2> <%= booking.field.name %> </h2>
          </div>
          <%= link_to root_path, class: "card-link-booking" do%>
          <% end  %>
        </div>

      </div>
      <div class="col-sm-3">
  <!--       One of three columns -->
        <div class="card-booking">
          <div class="card-detail-booking">
            <p>Renting User:</p>
          </div>
          <div class="card-description-detail-booking">
            <p> <%= booking.user.email %> </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
  <!--       One of three columns -->
        <div class="card-booking">
          <div class="card-detail-booking">
            <p>Time:</p>
          </div>
          <div class="card-description-detail-booking">
            <p> <%= booking.start_date %> </p>
            <p> <%= booking.end_date %> </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
  <!--       One of three columns -->
  <div class="card-booking">
    <%= link_to edit_field_booking_path(booking.field, booking) do %>
      <div class="card-detail-booking">
        <% if booking.status == "accepted" %>
          <p class="card-status-booking-item-accepted text-center"> <%= booking.status %> </p>
        <% elsif booking.status == "rejected" %>
          <p class="card-status-booking-item-rejected text-center"> <%= booking.status %> </p>
        <% else %>
        <p class="card-status-booking-item-pending text-center"> <%= booking.status %> </p>
        <% end  %>
        <% end %>
        </div>
        <div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
