<div class="container">
  <h1>My Bookings</h1>

  <% @bookings.each do |booking| %>
  <div class="booking-container">
    <div class="row">
      <div class="col-sm-3">
  <!--       One of three columns -->
        <div class="card-booking" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= booking.field.picture %>');">
          <div class="card-category-booking">
            <p><%= booking.field.category %></p>
          </div>
          <div class="card-description-booking">
            <h2> <%= booking.field.name %> </h2>
          </div>
          <%= link_to booking.field, class: "card-link-booking" do%>
          <% end  %>
        </div>

      </div>
      <div class="col-sm-3">
  <!--       One of three columns -->
        <div class="card-booking">
          <div class="card-detail-booking">
            <p>Address:</p>
          </div>
          <div class="card-description-detail-booking">
            <p> <%= booking.field.street %> </p>
            <p> <%= booking.field.city %> </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
  <!--       One of three columns -->
        <div class="card-booking">
          <div class="card-detail-booking">
            <p>Time:</p>
          </div>
          <div class="card-description-detail-booking">
            <p> <%= booking.start_date %> </p>
            <p> <%= booking.end_date %> </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
  <!--       One of three columns -->
  <div class="card-booking">
      <div class="card-detail-booking">
        <p class="card-status-booking-item <%=booking.status  %> text-center"><%=booking.status  %> </p>
        </div>
        <div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
