<div class="container">
  <h2><%= link_to 'Berlin', city_path(:berlin) %></h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="container">
          <div class="row">
            <% @fields.where(city: 'Berlin')[0..2].each do |field| %>
            <div class="col-md-4 padding-around">

              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= field.picture %>');">
                <div class="card-category"><p><%= field.category %></p>
                </div>
                <div class="card-description">
                  <h2> <%= field.name %> </h2>
                </div>
                <%= link_to field, class: "card-link" do%>
                <% end  %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>

      <% if @fields.where(city: 'Berlin').count >= 4 %>
      <% @fields.where(city: 'Berlin')[3..8].each_slice(3).to_a.each do |trio| %>

      <div class="item">
        <div class="container">
          <div class="row">
            <% trio.each do |field| %>
            <div class="col-md-4 padding-around">

              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= field.picture %>');">
                <div class="card-category"><p><%= field.category %></p>
                </div>
                <div class="card-description">
                  <h2> <%= field.name %> </h2>
                </div>
                <%= link_to field, class: "card-link" do%>
                <% end  %>
              </div>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <h2><%= link_to 'Paris', city_path(:paris) %></h2>
  <div id="myCarousel2" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="container">
          <div class="row">

            <% @fields.where(city: 'Paris')[0..2].each do |field| %>
            <div class="col-md-4 padding-around">

              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= field.picture %>');">
                <div class="card-category"><p><%= field.category %></p>
                </div>
                <div class="card-description">
                  <h2> <%= field.name %> </h2>
                </div>
                <%= link_to field, class: "card-link" do%>
                <% end  %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>

      <% if @fields.where(city: 'Paris').count >= 4 %>
      <% @fields.where(city: 'Paris')[3..8].each_slice(3).to_a.each do |trio| %>

      <div class="item">
        <div class="container">
          <div class="row">
            <% trio.each do |field| %>
            <div class="col-md-4 padding-around">

              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= field.picture %>');">
                <div class="card-category"><p><%= field.category %></p>
                </div>
                <div class="card-description">
                  <h2> <%= field.name %> </h2>
                </div>
                <%= link_to field, class: "card-link" do%>
                <% end  %>
              </div>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel2" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <h2><%= link_to 'London', city_path(:london) %></h2>
  <div id="myCarousel3" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="container">
          <div class="row">

            <% @fields.where(city: 'London')[0..2].each do |field| %>
            <div class="col-md-4 padding-around">

              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= field.picture %>');">
                <div class="card-category"><p><%= field.category %></p>
                </div>
                <div class="card-description">
                  <h2> <%= field.name %> </h2>
                </div>
                <%= link_to field, class: "card-link" do%>
                <% end  %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>

      <% if @fields.where(city: 'London').count >= 4 %>
      <% @fields.where(city: 'London')[3..8].each_slice(3).to_a.each do |trio| %>
      <div class="item">
        <div class="container">
          <div class="row">
            <% trio.each do |field| %>
            <div class="col-md-4 padding-around">

              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= field.picture %>');">
                <div class="card-category"><p><%= field.category %></p>
                </div>
                <div class="card-description">
                  <h2> <%= field.name %> </h2>
                </div>
                <%= link_to field, class: "card-link" do%>
                <% end  %>
              </div>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel3" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel3" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
