<strong id="field-title"><%= @field.name %></strong>
<p><strong>Category: </strong><%= @field.category.capitalize %></p>
<p><strong>Address: </strong><%= @field.street %>, <%= @field.city %></p>
<p><strong>Open: </strong><%= @field.opening_hours %></p>
<p><strong>Price: </strong><%= @field.price_per_hour %> €/h</p>
