<div class="navbar-wagon">
  <!-- Logo -->
<!--   <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %> -->
  <a href=""><i class="fas fa-volleyball-ball"></i> Sportify</a>
  <!-- Right Navigation -->
  <% if user_signed_in? %>

    <div class="navbar-wagon-right">
      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <i class="fas fa-user-circle dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fas fa-calendar-check"></i> <%= t(".profile", default: "My Bookings") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fas fa-flag"></i> <%= t(".settings", default: "My Fields") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <% else %>
    <!-- Login link (when logged out) -->
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
</div>

