<div class="city-banner">
  <div class="city-banner-title">
    <h1 class="text-center">Fields available in <%= @city_name.capitalize %></h1>
    <%= form_tag city_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search a category"
      %>
    <% end %>
  </div>

  <div class="city-banner-filter">
    <% form_tag "fields/city/#{@city_name}", method: :get do %>
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Choose your category" %>
    <% end %>
  </div>

</div>

<div class="main-container">
  <div class="field-cards">
    <div class="row">
      <div class="field-cards-container">
        <% @fields.each do |field| %>
          <div class="field-card col-xs-12 col-sm-6 col-md-4">
            <%= cl_image_tag field.picture, height: 200, width: 300, crop: :fill %>
            <div class="field-card-icon">
              <% case field.category %>
              <% when 'football' %>
                <%= image_tag ('football.svg') %>
              <% when 'basketball' %>
                <%= image_tag ('basketball.svg') %>
              <% when 'squash' %>
                <%= image_tag ('squash.svg') %>
              <% when 'volleyball' %>
                <%= image_tag ('volleyball.svg') %>
              <% when 'tennis' %>
                <%= image_tag ('tennis-raquet-and-ball.svg') %>
              <% when 'badminton' %>
                <%= image_tag ('badminton.svg') %>
              <% when 'ping pong' %>
                <%= image_tag ('pingpong.svg') %>
              <% end %>
            </div>

            <div class="field-card-title">
              <h1><%= field.name %></h1>
            </div>
            <%= link_to '', field %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
