<div id="field-img"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path @field.picture %>);">
  <h1 class="text-center field-text">
    <%= image_tag @field.get_logo, class:'show-logo' %> <%= @field.name %> <%= image_tag @field.get_logo, class:'show-logo' %>
  </h1>
  <div class="field-info">
    <div class="row">
      <div class="col-xs-12">
        <p><strong>Description</strong></p>
        <p><%= @field.description %></p>
      </div>
      <div class="col-md-8 col-xs-12">
        <%= cl_image_tag @field.picture, height: 300, width: 400, crop: :fill %>
      </div>
      <div class="col-md-4 col-xs-12">
        <p><strong>Address </strong></p>
        <p><%= @field.street %> - <%= @field.city %></p>
        <p><strong>Owned by </strong></p>
        <p><%= @user.first_name %> <%= @user.last_name %></p>
        <p><strong>Opening Hours</strong></p>
        <p><%= @field.opening_hours %></p>
        <div class="price-tag">
          <div>
            <p><strong><%= @field.price_per_hour %></strong> € per hour</p>
          </div>
          <div>
            <%= link_to "Book Now", new_field_booking_path(@field), class: "btn-sportify-green"  %>
          </div>
        </div>
      </div>
    </div>
    <div
      id="map"
      style="width: 100%;
      height: 50vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>
